---
layout: archive
permalink: /year-archive/
title: "The personal blog, experience and observation of Zachary Friedenberger, which he has never meant to be published on any account."
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

Here is where you can find notes on recent papers I find relevent to my own research and random short essays on various topics in neuroscience, physics, and philosophy.
My goal is to help you, the reader, understand each paper "line-by-line", filling the gaps that often require further background reading or are assumed to be trivial. <br><br> 

Feel free to leave a comment or reach out if you find a mistake or simply want to say hi. 

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
